@import "ui-variables";

.tree-view {
  font-size: @font-size;
  background: @tree-view-background-color;

  .selected:before {
  	color: @background-color-selected;
  }
}

.focusable-panel {
  opacity: 1;
  background: @tab-bar-background-color;
  box-shadow: 0px 30px 0 0 @tab-bar-background-color inset, -8px 0px 8px -8px black inset;

  &:focus {
    .selected > .name,
    .selected > .name:before,
    .selected > .list-item > .name,
    .selected > .list-item > .name:before {
      color: #fff !important;
    }
  }
}
